@import "rem"

* 
    margin: 0
    padding: 0
    box-sizing: border-box

a
    text-decoration: none
    color: inherit

img
    vertical-align: bottom

html
    color-scheme: dark
    --bg: #17181C
    --white: #fff
    --green: #37C589
    --green-darker: #219B68
    --red: #E74848
    --red-darker: #BD3232

body
    background-color: var(--bg)
    font-family: Rubik, sans-serif
    font-size: rem(20px)
    color: var(--white)
    overflow-x: hidden

.color-green
    color: var(--green)
.color-red
    color: var(--red)

.hidden
    display: none


.layout
    position: relative
    margin: 0 auto
    max-width: 1280px
    padding-left: 5px
    padding-right: 5px

@keyframes fadeIn 
    from 
        opacity: 0
    to
        opacity: 1
    
.animation-fadeIn
    animation-name: fadeIn

.bg
    position: absolute
    background-size: contain
    background-repeat: no-repeat
    z-index: -1
    &_mascot-header
        top: 220px
        right: 70px
        width: 332px
        height: 532px
        animation-duration: 0.5s
        background-image: url(./../images/header__mascot.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/header__mascot@2x.png)
    &_clouds-header
        top: 0px
        right: -180px
        width: 865px
        height: 418px
        animation-duration: 0.5s
        background-image: url(./../images/header__clouds.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/header__clouds@2x.png)
    &_stars-small-header
        top: -180px
        right: -280px
        width: 1105px
        height: 1007px
        animation-duration: 5s
        background-image: url(./../images/header__stars-small.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/header__stars-small@2x.png)
    &_stars-header
        top: -25px
        right: -220px
        width: 1008px
        height: 816px
        background-image: url(./../images/header__stars.svg)
        animation-duration: 3s
    &_stars-small-middle
        top: -30px
        left: -300px
        width: 2300px
        height: 1100px
        background-image: url(./../images/middle__stars-small.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/middle__stars-small@2x.png)
    &_stars-middle
        top: 120px
        left: -320px
        width: 2204px
        height: 909px
        background-image: url(./../images/middle__stars.svg)
    &_clouds-middle
        top: 90px
        left: -310px
        width: 1920px
        height: 513px
        background-image: url(./../images/middle__clouds.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/middle__clouds@2x.png)
    &_mascot-footer
        left: 10px
        top: 160px
        width: 372px
        height: 433px
        background-image: url(./../images/footer__mascot-2.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__mascot-2@2x.png)
    &_mascot-footer.js-parallax
        top: 200px
    &_stars-small-footer
        top: -100px
        left: -260px
        width: 930px
        height: 871px
        background-image: url(./../images/footer__stars-small.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__stars-small@2x.png)
    &_stars-footer
        top: -50px
        left: -170px
        width: 750px
        height: 870px
        background-image: url(./../images/footer__stars.svg)
    &_clouds
        top: 112px
        left: -165px
        width: 749px
        height: 644px
        background-image: url(./../images/footer__clouds.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__clouds@2x.png)
    &_planets
        top: 30px
        left: -220px
        width: 787px
        height: 747px
        background-image: url(./../images/footer__planets.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__planets@2x.png)
    &_planet-1
        top: 390px
        left: -220px
        width: 207px
        height: 111px
        background-image: url(./../images/footer__planet-1.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__planet-1@2x.png)
    &_planet-2
        bottom: 140px
        left: -40px
        width: 161px
        height: 166px
        background-image: url(./../images/footer__planet-2.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__planet-2@2x.png)
    &_planet-3
        top: 35px
        left: 300px
        width: 124px
        height: 128px
        background-image: url(./../images/footer__planet-3.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__planet-3@2x.png)
    &_planet-4
        top: 460px
        left: 375px
        width: 124px
        height: 128px
        background-image: url(./../images/footer__planet-4.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__planet-4@2x.png)
    &_planet-5
        top: 90px
        left: 430px
        width: 156px
        height: 94px
        background-image: url(./../images/footer__planet-5.png)
        @media (min-resolution: 1.5dppx)
            background-image: url(./../images/footer__planet-5@2x.png)


.header
    line-height: rem(43px)
    margin: 25px 0
    display: flex
    justify-content: space-between
    align-items: center

    &__btn 
        border-radius: 4px
        border: 1px solid var(--green-darker)
        font-size: rem(16px)
        padding: 0 rem(24px)
        text-transform: uppercase
        letter-spacing: rem(0.8px)
        color: inherit
        transition: color 0.1s
        &:hover
            color: var(--green)

.contacts
    display: flex
    gap: 48px 

    &__icon 
        width: 40px
        height: 40px
        border-radius: 40px
        border: 1px solid var(--green-darker)
        display: block

    &__btn
        display: flex
        gap: 16px
        align-items: center
        transition: color 0.1s
        &:hover
            color: var(--green)

.icon
    display: block
    width: rem(40px)
    height: rem(40px)
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
    &_tg
        background-image: url(./../images/icon-tg.svg)
        background-position: 45% center
        background-size: rem(18px) rem(19px)
    &_mail
        background-image: url(./../images/icon-mail.svg)
    &_star
        background-image: url(./../images/icon-star.svg)

.logo
    font-size: rem(28px)

.main
    position: relative
    padding-top: 173px
    padding-bottom: 150px
    &::before
        z-index: -2
        content: ""
        display: block
        position: absolute
        top: 50px
        left: -300px
        background: radial-gradient(50% 50% at 50% 50%, rgba(39, 48, 94, 0.53) 0%, rgba(23, 24, 28, 0.00) 100%)
        width: 1200px
        height: 600px
        border-radius: 1200px
        opacity: 0.8
    &__title
        max-width: 20ch
        font-size: rem(64px)
        margin-bottom: 50px
    &__pros
        list-style-position: inside
        list-style-type: none
        margin-bottom: 64px
    &__pros-item
        padding-left: rem(13px)
        position: relative
        margin-bottom: rem(14px)
        &::before
            position: absolute
            left: 0
            top: 50%
            transform: translate(0, -50%)
            content: ""
            display: block
            width: rem(5px)
            height: rem(5px)
            border-radius: rem(5px)
            background-color: var(--green)
        &:last-child
            margin-bottom: 0
    &__btn
        display: inline-block
        padding: 0 rem(30px)
        background-color: var(--green-darker)
        line-height: rem(64px)
        border-radius: 6px
        transition: background-color 0.1s
        letter-spacing: 1px
        text-transform: uppercase
        &:hover
            background-color: var(--green)
    &__mascot
        position: absolute
        top: 35px
        right: 75px
        animation: moscotAppear 0.5s ease-out

@keyframes moscotAppear 
    from
        opacity: 0
        transform: translate(0, 50px)
    to
        opacity: 1
        transform: translate(0, 0)

.section
    margin-top: 180px

.section-title
    font-size: rem(54px)
    font-weight: 400
    margin-bottom: 80px
    text-align: center

.second
    &__pros-cards
        display: grid
        grid-template: 1fr 1fr / 1fr 1fr
        gap: 28px

.third
    &__plans
        display: grid
        grid-template-rows: auto
        grid-template-columns: repeat(4, 1fr)
        gap: 28px

.fourth
    position: relative
    &::before
        content: ""
        display: block
        position: absolute
        top: -700px
        left: 50%
        transform: translate(-50%, 0) scale(0.6)
        width: 2461px
        height: 1642px
        border-radius: 2461px
        background: radial-gradient(50% 50% at 50% 50%, rgba(39, 48, 94, 0.53) 0%, rgba(23, 24, 28, 0.00) 100%)
        z-index: -2
        opacity: 0.8

.fifth
    max-width: 1052px
    margin-left: auto
    margin-right: auto
    &__video-block
        aspect-ratio: 16/9
        background-color: var(--bg)

.sixth
    display: flex
    flex-direction: row-reverse
    padding-bottom: 180px
    position: relative
    &::before
        position: absolute
        content: ""
        width: 2461px
        height: 1642px
        border-radius: 2461px
        background: radial-gradient(50% 50% at 50% 50%, rgba(39, 48, 94, 0.53) 0%, rgba(23, 24, 28, 0.00) 100%)
        top: -450px
        left: 50%
        transform: translate(-50%, 0) scale(0.7)
        z-index: -2
        opacity: 0.9
    &__wrapper 
        max-width: 620px
    &__section-title
        margin-bottom: 100px

.reviews
    &__wrapper
        display: flex
        flex-wrap: wrap
        flex-direction: column
        gap: 28px
        max-height: 900px
    &__image
        border-radius: 16px
.swiper-pagination
    display: none

.plan-card
    flex: 1 0 auto
    text-align: center
    position: relative
    transition: transform 0.3s
    display: flex
    flex-direction: column
    justify-content: space-between
    // background-color: var(--green-darker)
    // padding: 1px
    // border-radius: 16px
    &:hover
        transform: scale(1.05)
    &__hint
        position: absolute
        top:  0
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 20px
        line-height: 34px
        background-color: var(--red-darker)
        padding: 0 12px
        border-radius: 50px
        white-space: nowrap
        width: 85%
    &__wrapper 
        border-top-left-radius: 16px
        border-top-right-radius: 16px
        border: 1px solid var(--green-darker)
        border-bottom: none
        flex-grow: 1
        padding-top: 70px
        padding-bottom: 70px
        // border-top-left-radius: inherit
        // border-top-right-radius: inherit
        // background-color: var(--bg)
    &__title    
        font-size: rem(36px)
        margin-bottom: 50px
    &__savings
        margin-bottom: 40px
    &__savings-star
        display: inline-block
        width: 18px
        height: 18px
        transform: translate(0px, 2px)
        &:first-child
            margin-right: 8px
        &:last-child
            margin-left: 8px
    &__price
        font-size: rem(54px)
        font-weight: 500
    &__price-period
        color: #929292
    &__btn
        border-bottom-left-radius: 16px
        border-bottom-right-radius: 16px
        background-color: var(--green-darker)
        font-weight: 500
        padding: 0 20px
        line-height: 93px
        letter-spacing: 1px
        text-transform: uppercase
        // display: block
        // border-radius: inherit

.plan-card--highlighted
    .plan-card__wrapper
        // background: linear-gradient(180deg, var(--red-darker) 0%, var(--green-darker) 80%)
        // padding: 2px
        border: 1px solid var(--green-darker)
        border-bottom: none
    .plan-card__btn
        // background-color: var(--red-darker)


.pros-card
    padding: 60px 50px
    border-radius: 24px
    background-color: rgb(39 48 94 / 53%)
    display: flex
    flex-direction: column
    &__title
        font-size: rem(36px)
        margin-bottom: 30px
    &__description
        line-height: 150%
        flex: 1 0 auto
        margin-bottom: 50px
    &__image-box
        border-radius: 16px
        overflow: hidden
        position: relative
        max-height: 240px
        aspect-ratio: 52/24
    &__image
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        position: relative
    &--speed
        background-color: #36203E
    &--safety
        background-color: #242C29
    &--availability
        background-color: #20232F
    &--support
        background-color: #292222


.footer
    display: flex
    justify-content: space-around
    align-items: center
    gap: 85px
    padding-bottom: 75px
    padding-top: 75px
    &__outer-wrapper
        border-top: 1px solid #353B52
    &__payment-methods
        display: flex
        gap: 40px
    &__links
        display: flex
        flex-direction: column
        align-items: flex-start
        font-size: rem(14px)
        line-height: 180%
    &__link
        white-space: nowrap
        color: #929292
        transition: color 0.1s
        &:hover 
            color: var(--white)

@media ( max-width: 1024px )

    .bg
        &_mascot-header
            top: 430px
            right: 50px
        &_mascot-header.js-parallax
            top: 550px
        &_stars-small-header
            top: 220px
        &_stars-header
            top: 265px
            right: -310px
        &_clouds-header
            top: 220px
            right: -250px
            transform: scale(1.1)
        &_clouds-middle,
        &_stars-middle
            left: 0
        &_mascot-footer
            left: 50%
            transform: translate(-50%, 0)
        &_planets
            top: 89px
            left: 50%
            transform: translate(-55%, 0)
        &_stars-footer
            top: 10px
            left: 50%
            transform: translate(-50%, 0)
        &_stars-small-footer
            top: 20px
            left: 50%
            transform: translate(-50%, 0)
        &_clouds
            top: 170px
            left: 50%
            transform: translate(-50%, 0)

    .layout
        max-width: 1024px
        overflow: hidden
        padding-left: rem(40px)
        padding-right: rem(40px)

    .section
        margin-top: 120px

    .section-title
        margin-bottom: 48px
    
    .contacts
        gap: 59px
        &__label
            display: none

    .main
        padding-top: 115px
        padding-bottom: 260px

    .second
        &__pros-cards
            grid-template: 1fr / 1fr


    .plan-card
        &:hover
            transform: none

    .third
        &__plans
            grid-template-columns: 1fr 1fr
            row-gap: 45px

    .fourth
        &::before
            top: -790px
            opacity: 1
            transform: translate(-50%, 0) scale(0.4)

    .reviews
        &__wrapper
            align-items: center
            flex-wrap: nowrap
            max-height: none
        &__row
            width: 404px

    .sixth 
        flex-direction: column-reverse
        &__bg-wrapper
            position: relative
            width: 100%
            height: 780px
        &__wrapper
            max-width: none

    .footer
        padding-top: 60px
        padding-bottom: 60px
        flex-direction: column
        gap: 40px
        &__links
            align-items: center
            gap: 32px
            line-height: 1

@media ( max-width: 425px )

    .bg
        &_mascot-header,
        &_mascot-header.js-parallax
            width: 201px
            height: 323px
            top: 450px
            left: 150px
            right: none
            z-index: 1
        &_clouds-header
            transform: scale(0.6)
            right: -320px
            top: 170px
        &_stars-header
            top: 140px
            right: -50px
            transform: scale(0.6)
        &_stars-small-header
            top: 30px
            right: -440px
            transform: scale(0.6)

        &_stars-small-middle,
        &_stars-middle,
        &_clouds-middle
            display: none

        &_mascot-footer
            width: 215px
            height: 250px
        &_planets
            scale: 0.6
            top: 0
            left: 0
        &_clouds
            scale: 0.65
            top: 50px
            left: 40px
        &_stars-footer
            scale: 0.6
            top: -160px
            left: 0
        &_stars-small-footer
            scale: 0.7
            left: 40px
            top: -140px

    .layout
        max-width: 425px
        padding-left: rem(20px)
        padding-right: rem(20px)

    .section
        margin-top: 80px

    .section-title
        font-size: rem(36px)
        margin-bottom: 40px

    .header
        margin-top: 20px
        margin-bottom: 20px
        line-height: rem(30px)
        &__contacts 
            gap: 16px
        &__btn
            font-size: rem(12px)
            padding-left: rem(16px)
            padding-right: rem(16px)

    .logo
        font-size: rem(20px)
        
    .icon
        width: rem(30px)
        height: rem(30px)
        &_tg
            background-position: 40% center
            background-size: rem(13.5px) rem(13.5px)

    .main
        padding-top: 45px
        padding-bottom: 285px
        &::before
            left: 0
            right: 0
            top: -60px
            width: auto
            height: 50%
            border-radius: 0
        &__title
            font-size: rem(36px)
            margin-bottom: 36px
        &__pros
            font-size: rem(18px)
            margin-bottom: 48px

    .pros-card
        padding: 36px 28px   
        &__title
            margin-bottom: 20px   
        &__description
            margin-bottom: 36px 
        &__image-box
            height: 240px
            aspect-ratio: unset
        &__image
            position: absolute
            width: auto
            height: 240px

    .third
        &__plans
            grid-template-columns: 1fr
            row-gap: 28px

    .reviews
        &__wrapper
            flex-direction: row
            flex-wrap: nowrap
        &__image
            // max-width: 70vw
            height: auto

    .swiper-pagination
        display: block

    .plan-card
        &__hint
            white-space: pre-wrap
            line-height: 1.1
            padding-top: 6px
            padding-bottom: 6px

    .sixth
        &__section-title
            margin-bottom: 67px
        &__bg-wrapper
            height: 470px

    .footer
        padding-top: 40px
        padding-bottom: 40px
        &__payment-methods
            align-items: center
            flex-direction: column